<nav class="d-flex gap-5">
    <a href="/">
    <i class="fa-solid fa-house"></i>
    home
    </a>
    <a href="/authors">
        <i class="fa-solid fa-user"></i>
        Authors
    </a>
    <a href="/authors/new">new Authors</a>
    <a href="/books">books</a>
    <a href="/books/new">new books</a>
</nav>