<footer class="d-flex gap-2 justify-content-around flex-wrap text-bg-secondary p-3 shadow-lg">
  <div>
    <ul>
      <li><a href="#">لینک یک</a</li>
      <li><a href="#">لینک دو</a</li>
      <li><a href="#">لینک سه</a</li>
    </ul>
  </div>

  <div>
    <ul>
      <li><a href="#">لینک یک</a</li>
      <li><a href="#">لینک دو</a</li>
      <li><a href="#">لینک سه</a</li>
    </ul>
  </div>

  <div>
    <ul>
      <li><a href="#">لینک یک</a</li>
      <li><a href="#">لینک دو</a</li>
      <li><a href="#">لینک سه</a</li>
    </ul>
  </div>
</footer>